.title{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
}

.navbar{
    padding: 30px;
    background: rgb(8, 122, 122);
}

.navbar-toggler{
    border: 4px solid rgba(255, 255, 255, 0.9);
}

.modal{
    width: 300px;
}

.modal-header{
    height: 105px;
    background: rgb(8, 122, 122);
    color: #FFFFFF;
}

.modal-content{
    width: 300px;
}

.accordion-header button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.accordion-header button img{
    width: 40px;
    height: 35px;
    margin-right: 10px;
}